
@import url(_reset.css);
@import url(_variables.css);
@import url(_start-game-button.css);

body {
    background-color: var(--main-bg-color);
    color: var(--headline-text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
    color: white;
  }
  h1::first-letter {
    color: red;
  }
  
  .game {
    display: inline-block;
    margin-top: 50px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 440px;
    border-radius: 5px;
  }
  
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: var(--cell-bg);
    cursor: pointer;
    transition: -0.5s ease-in;
    width: 150px;
    height: 150px;
  }
  
  .cell:hover {
    background-color: #666;
    transition: -0.5s ease-in;
  }
  
  .cell:active {
    background-color: #777;
  }
  
  .X{
    color: var(--x-color);
  }

  .board {
    filter: none;
    pointer-events: none;
  }

  .blur-effect {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Disable pointer events on blurred elements */
  }

  .reset-game {
    display: none;
    padding: 15px;
    background-color: var(--cell-bg);
    color: white;
    width: 100%;
    margin-top: 50px;
    border: none;
  }

.reset-game:hover {
    cursor: pointer;
}